/* daję to tu by przeglądarka nie psuła wyglądu strony domyślnymi marginesami i odstepami */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* to są nazwy kolorów by nie trzeba było szukać po całym style.css miejsca w którym chcę zmienić kolor */
:root {
    --dark-gray: #222;
    --light-gray: #dadada;
    --dark-blue: #05102e;
    --light-blue: #94a5cd;
}

.navbar {
    list-style: none;
    position: fixed;
    width: 90%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 2px var(--dark-gray);
    padding: 0.5rem clamp(1rem,4vw,5rem);
    z-index: 3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 5vw, 4rem);
}

.navbar a {
    color: white;
    text-decoration: none; /* aby nie bylo underline bo nie podoba mi sie */
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 2px var(--dark-gray);
    transition: 0.3s; /* wtedy ladnie zmienia kolor */
}

.navbar a:hover {
    color: var(--light-blue); /* zmienia kolor */
    text-shadow: none;
}

.very-beginning {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10vw;
    background-image: url('media/blue-dots.jpg');
    background-size: cover;
    background-position: center;
}

.very-beginning::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.very-beginning-text {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.blue-text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(5rem, 50vw, 55rem);
    color: transparent;
    background-image: url('media/blue-dots.jpg');
    background-size: cover;
    background-position: center;
    background-clip: text;
    white-space: nowrap;
}

.three-photos-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--light-gray);
}

.three-photos-section h1 {
    text-align: center;
    color: var(--dark-gray);
    font-family: "Times New Roman", sans-serif;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.three-photos {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.three-photos-item {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--light-blue); /* jesli sie nie zaladuje zdjecie */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.item-title {
    font-family: 'Times New Roman', sans-serif;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bolder;
    font-size: 1.1rem;
    color: var(--dark-gray);
}

.item-text {
    font-family: 'Times New Roman', sans-serif;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: justify;
    color: var(--dark-gray);
    font-size: 0.95rem;
}

.info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4em 2em;
    gap: 2em;
    overflow: hidden;
    background-color: var(--dark-gray);
}

.info::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background: url('media/blue-moon.JPG')  center/cover;
    filter: blur(3px);
    z-index: 0;
}

.info::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

.info h2 {
    font-family: 'Times New Roman', sans-serif;
    text-align: right;
    font-size: 3rem;
    margin-left: 2rem;
    color: var(--light-gray);
    z-index: 2;
}

.info p {
    font-family: 'Times New Roman', sans-serif;
    text-align: justify;
    color: var(--light-gray);
    margin-left: 2rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    z-index: 2;
}

.info img {
    max-width: 400px;
    border-radius: 10px;
    z-index: 2;
}

.info div {
    max-width: 500px;
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.history {
    background: url("media/history-bg.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(1rem,4vw,5rem);
}
.history i {
    color: var(--light-blue);
}

.history-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem,10vw,10rem);
    max-width: 1400px;
    width: 100%;
    color: var(--light-gray);
    font-family: "Times New Roman", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    text-shadow: var(--dark-gray) 1px 1px 1px;
}

.right-text {
    margin-top: 6rem;
}

.history-content h2 {
    margin-top: 8vh;
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(2rem,5vw,6rem);
}

.gallery {
    background: var(--light-gray);
    padding: 2.5rem;
    color: var(--dark-gray);
}

.gallery-intro {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.gallery-intro h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.gallery-intro p {
    margin-right: clamp(3rem, 10vw, 18rem);
    text-align: right;
    font-size: 1.25rem;
    line-height: 1.5;
}

.gallery-pics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.gallery-pics img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
}

.gallery-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
}

.gallery-video video {
    width: 100%;
    max-width: 56rem;
    border-radius: 0.5rem;
    display: block;
}
.gallery-video p {
    color: var(--dark-gray);
    font-size: 1.25rem;
    line-height: 2rem;
}

.contact {
    padding: 4rem;
    background-image: url('media/contact-bg.jpg');
    background-size: cover;
    background-position: center;
    color: var(--light-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contact h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    letter-spacing: 0.1rem;
}

.contact p {
    font-family: "Times New Roman", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}

.contact i {
    color: var(--light-blue);
}

.contact-form {
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form label {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.contact-form select{
    appearance: none;
    -webkit-appearance: none; /* bo safari ignoruje appearance */
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1rem;
}

.contact-form textarea {
    resize: none;
    height: 20rem;
}

.contact-form input[type="text"],
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 0.9rem 1rem;
    background-color: rgba(255, 255, 255, 0.12);
    border: 0;
    border-radius: 1rem;
    font-size: 1rem;
    color: var(--light-gray);
    outline: none;
}

.contact-form input[type="text"]:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border-color: var(--light-gray);
    background-color: rgba(148, 165, 205, 0.4);
}

.contact-form select {
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
}

.submit-btn {
    padding: 1rem;
    width: clamp(6rem,12vw,14rem);
    background-color: var(--light-blue);
    color: var(--dark-gray);
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #b3c1e3;
}

.thank-you {
    display: none;
    position: fixed;
    top: 50%;
    color: var(--light-gray);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8rem;
    z-index: 1;
    opacity: 0;
}
.thank-you.show {
    display: block;
    opacity: 1;
}

footer {
    background-color: var(--dark-blue);
    color: var(--light-gray);
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    padding: 1em;
}
